In [1]:
import numpy as np

In [2]:
# how to iterate over numpy array.

a = np.arange(11)**2   # squaring of elements
print(a)

[  0   1   4   9  16  25  36  49  64  81 100]

In [3]:
for i in a:
    print(i**(1/2))

0.0
1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0

In [6]:
students = np.array([['shweta','sravanthi','amith','vinay'],[50,40,30,20],[70,80,65,35]])

print(students)

[['shweta' 'sravanthi' 'amith' 'vinay']
 ['50' '40' '30' '20']
 ['70' '80' '65' '35']]

In [ ]:
# array list should also enclosed by []

In [8]:
for i in students:
    print('i value is =', i)

i value is = ['shweta' 'sravanthi' 'amith' 'vinay']
i value is = ['50' '40' '30' '20']
i value is = ['70' '80' '65' '35']

In [9]:
for element in students.flatten():  # flatten() is numpy inbuilt, by default it is row major flatten
    print(element)

shweta
sravanthi
amith
vinay
50
40
30
20
70
80
65
35

In [ ]:
***** Always we need to present in the technical terms *******

In [10]:
for element in students.flatten(order='F'):  # here flatten will work as column major flatten, that is column wise reading
    print(element)

shweta
50
70
sravanthi
40
80
amith
30
65
vinay
20
35

In [11]:
for i in np.nditer(students):
    print(i)

shweta
sravanthi
amith
vinay
50
40
30
20
70
80
65
35

In [12]:
print(i)

35

In [13]:
print(element)

35

In [ ]:
***** flatten      vs    nditer  ********
1. flatten ----> will result in an array
2. nditer   -----> just way to iterate over an array, not possible to store the result

In [ ]:
***** Shallow copy vs deep copy in numpy: ********

In [15]:
fruits = np.array(['apple','mango','grapes','watermelon'])
print(fruits)

['apple' 'mango' 'grapes' 'watermelon']

In [16]:
type(fruits)

numpy.ndarray

In [ ]:
shallow copy:
    what ever the changes you are making in the copy, it will also reflect in main version from which you have copied.
    it is like create views in sql.

In [19]:
basket_1 = fruits.view()
basket_2 = fruits.view()
print(basket_1)
print(basket_2)

['apple' 'mango' 'grapes' 'watermelon']
['apple' 'mango' 'grapes' 'watermelon']

In [20]:
print('ids for the arrays are diff:')
print('id for the fruit is : ')
print(id(fruits))
print('ids for the basket is : ')
print(id(basket_1))
print(id(basket_2))

ids for the arrays are diff:
id for the fruit is :
2230457124544
ids for the basket is :
2230457212800
2230457210400

In [21]:
basket_1 is fruits

False

In [22]:
basket_1.base is fruits

True

In [24]:
basket_1[0]='strawberry'
print(basket_1)

['strawberry' 'mango' 'grapes' 'watermelon']

In [25]:
fruits

array(['strawberry', 'mango', 'grapes', 'watermelon'], dtype='<U10')

In [ ]:
In the above two outputs the element 'apple' was replaced with 'strawberry'. 
we have made change in the copy but it got reflected in the main version