In [1]:
import numpy as np
import pandas as pd
import os

In [ ]:
# always pronounciation of technical words is most important
# numpy should called as numpi but not numpee

In [2]:
df = pd.read_csv('artwork_data.csv', nrows=6)
print(df)

     id accession_number          artist artistRole  artistId  \
0  1035           A00001   Blake, Robert     artist        38
1  1036           A00002   Blake, Robert     artist        38
2  1037           A00003   Blake, Robert     artist        38
3  1038           A00004   Blake, Robert     artist        38
4  1039           A00005  Blake, William     artist        39
5  1040           A00006  Blake, William     artist        39

                                               title                dateText  \
0  A Figure Bowing before a Seated Old Man with h...          date not known
1  Two Drawings of Frightened Figures, Probably f...          date not known
2  The Preaching of Warning. Verso: An Old Man En...                 ?c.1785
3     Six Drawings of Figures with Outstretched Arms          date not known
4  The Circle of the Lustful: Francesca da Rimini...  1826–7, reprinted 1892
5      Ciampolo the Barrator Tormented by the Devils  1826–7, reprinted 1892

                                              medium  \
0  Watercolour, ink, chalk and graphite on paper....
1                                  Graphite on paper
2        Graphite on paper. Verso: graphite on paper
3                                  Graphite on paper
4                            Line engraving on paper
5                            Line engraving on paper

                                          creditLine    year  acquisitionYear  \
0                Presented by Mrs John Richmond 1922     NaN             1922
1                Presented by Mrs John Richmond 1922     NaN             1922
2                Presented by Mrs John Richmond 1922  1785.0             1922
3                Presented by Mrs John Richmond 1922     NaN             1922
4  Purchased with the assistance of a special gra...  1826.0             1919
5  Purchased with the assistance of a special gra...  1826.0             1919

              dimensions  width  height  depth units  inscription  \
0  support: 394 x 419 mm    394     419    NaN    mm          NaN
1  support: 311 x 213 mm    311     213    NaN    mm          NaN
2  support: 343 x 467 mm    343     467    NaN    mm          NaN
3  support: 318 x 394 mm    318     394    NaN    mm          NaN
4    image: 243 x 335 mm    243     335    NaN    mm          NaN
5    image: 240 x 338 mm    240     338    NaN    mm          NaN

   thumbnailCopyright                                       thumbnailUrl  \
0                 NaN  http://www.tate.org.uk/art/images/work/A/A00/A...
1                 NaN  http://www.tate.org.uk/art/images/work/A/A00/A...
2                 NaN  http://www.tate.org.uk/art/images/work/A/A00/A...
3                 NaN  http://www.tate.org.uk/art/images/work/A/A00/A...
4                 NaN  http://www.tate.org.uk/art/images/work/A/A00/A...
5                 NaN  http://www.tate.org.uk/art/images/work/A/A00/A...

                                                 url
0  http://www.tate.org.uk/art/artworks/blake-a-fi...
1  http://www.tate.org.uk/art/artworks/blake-two-...
2  http://www.tate.org.uk/art/artworks/blake-the-...
3  http://www.tate.org.uk/art/artworks/blake-six-...
4  http://www.tate.org.uk/art/artworks/blake-the-...
5  http://www.tate.org.uk/art/artworks/blake-ciam...

In [ ]:
Cleansing the data:- 
    # how to use the id as the column whih is present in the data itself

In [3]:
df = pd.read_csv('artwork_data.csv',nrows=6,index_col ='id')
print(df)

     accession_number          artist artistRole  artistId  \
id
1035           A00001   Blake, Robert     artist        38
1036           A00002   Blake, Robert     artist        38
1037           A00003   Blake, Robert     artist        38
1038           A00004   Blake, Robert     artist        38
1039           A00005  Blake, William     artist        39
1040           A00006  Blake, William     artist        39

                                                  title  \
id
1035  A Figure Bowing before a Seated Old Man with h...
1036  Two Drawings of Frightened Figures, Probably f...
1037  The Preaching of Warning. Verso: An Old Man En...
1038     Six Drawings of Figures with Outstretched Arms
1039  The Circle of the Lustful: Francesca da Rimini...
1040      Ciampolo the Barrator Tormented by the Devils

                    dateText  \
id
1035          date not known
1036          date not known
1037                 ?c.1785
1038          date not known
1039  1826–7, reprinted 1892
1040  1826–7, reprinted 1892

                                                 medium  \
id
1035  Watercolour, ink, chalk and graphite on paper....
1036                                  Graphite on paper
1037        Graphite on paper. Verso: graphite on paper
1038                                  Graphite on paper
1039                            Line engraving on paper
1040                            Line engraving on paper

                                             creditLine    year  \
id
1035                Presented by Mrs John Richmond 1922     NaN
1036                Presented by Mrs John Richmond 1922     NaN
1037                Presented by Mrs John Richmond 1922  1785.0
1038                Presented by Mrs John Richmond 1922     NaN
1039  Purchased with the assistance of a special gra...  1826.0
1040  Purchased with the assistance of a special gra...  1826.0

      acquisitionYear             dimensions  width  height  depth units  \
id
1035             1922  support: 394 x 419 mm    394     419    NaN    mm
1036             1922  support: 311 x 213 mm    311     213    NaN    mm
1037             1922  support: 343 x 467 mm    343     467    NaN    mm
1038             1922  support: 318 x 394 mm    318     394    NaN    mm
1039             1919    image: 243 x 335 mm    243     335    NaN    mm
1040             1919    image: 240 x 338 mm    240     338    NaN    mm

      inscription  thumbnailCopyright  \
id
1035          NaN                 NaN
1036          NaN                 NaN
1037          NaN                 NaN
1038          NaN                 NaN
1039          NaN                 NaN
1040          NaN                 NaN

                                           thumbnailUrl  \
id
1035  http://www.tate.org.uk/art/images/work/A/A00/A...
1036  http://www.tate.org.uk/art/images/work/A/A00/A...
1037  http://www.tate.org.uk/art/images/work/A/A00/A...
1038  http://www.tate.org.uk/art/images/work/A/A00/A...
1039  http://www.tate.org.uk/art/images/work/A/A00/A...
1040  http://www.tate.org.uk/art/images/work/A/A00/A...

                                                    url
id
1035  http://www.tate.org.uk/art/artworks/blake-a-fi...
1036  http://www.tate.org.uk/art/artworks/blake-two-...
1037  http://www.tate.org.uk/art/artworks/blake-the-...
1038  http://www.tate.org.uk/art/artworks/blake-six-...
1039  http://www.tate.org.uk/art/artworks/blake-the-...
1040  http://www.tate.org.uk/art/artworks/blake-ciam...

In [ ]:
# overriding the default index  column with column in the file
# this is called cleansing the data

*** pandas is most used for cleaning the data ***

In [ ]:
# sccenario 
100.csv file is havingg 20 columns
want to display only few columns

eg: need to display columns
    firstname, lastname, emailid, number

In [ ]:
# consiidering only required columns

required: id & artist - only two columns

In [5]:
df = pd.read_csv('artwork_data.csv',nrows =6, index_col='id',usecols=['id','artist'])
print(df)

              artist
id
1035   Blake, Robert
1036   Blake, Robert
1037   Blake, Robert
1038   Blake, Robert
1039  Blake, William
1040  Blake, William

In [ ]:
# displaying only specific ccolumns which are required is called as data cleansing

In [ ]:
Clean coding:
    clean coding is that presenting the code in simple & neat manner. So that anybody an understand that code.
    Always ensure clear coding.

In [ ]:
# scenario
required is 5 columns
'id','artist','title','medium','year'

In [6]:
df = pd.read_csv('artwork_data.csv',nrows =6, index_col='id', usecols=['id','artist','title','medium','year'])
print(df)

              artist                                              title  \
id
1035   Blake, Robert  A Figure Bowing before a Seated Old Man with h...
1036   Blake, Robert  Two Drawings of Frightened Figures, Probably f...
1037   Blake, Robert  The Preaching of Warning. Verso: An Old Man En...
1038   Blake, Robert     Six Drawings of Figures with Outstretched Arms
1039  Blake, William  The Circle of the Lustful: Francesca da Rimini...
1040  Blake, William      Ciampolo the Barrator Tormented by the Devils

                                                 medium    year
id
1035  Watercolour, ink, chalk and graphite on paper....     NaN
1036                                  Graphite on paper     NaN
1037        Graphite on paper. Verso: graphite on paper  1785.0
1038                                  Graphite on paper     NaN
1039                            Line engraving on paper  1826.0
1040                            Line engraving on paper  1826.0

In [ ]:
# in the above statement usecolumns mentioned list is havving 5 columns
# let us assume there are more number of columns then column list will keep on increased
# instead of using big list , we utilize the advantage of variables.

In [ ]:
# below examples show how we can utilize the variable to store the column values and calling that in the statement

In [7]:
COLS_TO_USE = ['id','artist','title','medium','year']

In [8]:
df = pd.read_csv('artwork_data.csv',nrows=6,usecols=COLS_TO_USE)
print(df)

     id          artist                                              title  \
0  1035   Blake, Robert  A Figure Bowing before a Seated Old Man with h...
1  1036   Blake, Robert  Two Drawings of Frightened Figures, Probably f...
2  1037   Blake, Robert  The Preaching of Warning. Verso: An Old Man En...
3  1038   Blake, Robert     Six Drawings of Figures with Outstretched Arms
4  1039  Blake, William  The Circle of the Lustful: Francesca da Rimini...
5  1040  Blake, William      Ciampolo the Barrator Tormented by the Devils

                                              medium    year
0  Watercolour, ink, chalk and graphite on paper....     NaN
1                                  Graphite on paper     NaN
2        Graphite on paper. Verso: graphite on paper  1785.0
3                                  Graphite on paper     NaN
4                            Line engraving on paper  1826.0
5                            Line engraving on paper  1826.0

In [12]:
#Saving the Info:
 
df.to_pickle(os.path.join('..',data_frame.pickle))

NameError: name 'data_frame' is not defined

In [ ]:
# pickle    ---> serialization  ---> used by python

In [13]:
#Indexing & filtering the data in pandas:
df[['artist','artistId']]

KeyError: "['artistId'] not in index"

In [17]:
df[['artist','title']]

           artist                                              title
0   Blake, Robert  A Figure Bowing before a Seated Old Man with h...
1   Blake, Robert  Two Drawings of Frightened Figures, Probably f...
2   Blake, Robert  The Preaching of Warning. Verso: An Old Man En...
3   Blake, Robert     Six Drawings of Figures with Outstretched Arms
4  Blake, William  The Circle of the Lustful: Francesca da Rimini...
5  Blake, William      Ciampolo the Barrator Tormented by the Devils

In [16]:
# print unique record
artists = df['artist']
print(pd.unique(artists))
print(len(pd.unique(artists)))

['Blake, Robert' 'Blake, William']
2

In [ ]:
# the above is to remove the duplicates

In [ ]:
#   os is refers to root path